PY_ENV =  provide the environment type (development or production)
OTEL_EXPORTER_TRACE_ENDPOINT = provide the url for the exporting the traces  

OTEL_EXPORTER_LOG_ENDPOINT = os.getenv("OTEL_EXPORTER_LOG_ENDPOINT", "None")

OTEL_EXPORTER_METRICS_ENDPOINT = os.getenv("OTEL_EXPORTER_METRICS_ENDPOINT", "None")